.circle {
    width: 33px; /* Adjust size as needed */
    height: 33px; /* Same as width for a perfect circle */
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 50%; /* Makes the div round */
}
.text-secondary{
    color: #9b9b9b !important;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

