<svg width="16" height="17" viewBox="0 0 16 17" fill="none" class="text-token-text-tertiary">
  <path d="M11.3346 7.83203L8.00131 11.1654L4.66797 7.83203" 
  stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
